body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #E8F2EF;
}

.caixa-bem-vindo,
.caixa-cuidado {
    padding: 10px;
    padding-left: 30px;
    font-size: 30px;
}

.caixa-autoconhecimento {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 18px;
    font-size: 30px;
}
.autoconhecimento {
}
.caixa-pilares {
    padding: 40px;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.img-1 {
   transform: translate( 450px, -290px);
}

.img-2 {
    position: relative;
    bottom: 280px;
    left: 450px;
    width: 300px;
}
.imgconhe {
    position: relative;
    top: 126px;
    right: 290px;

}


.circulo {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    border: 4px solid #402722;
    background: #D9D9D9;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
    .caixa-bem-vindo,
    .caixa-cuidado {
        margin-left: auto;
        margin-right: 0;
        width: 85%;
        padding-left: 40px;
    }

    .img-3 {
        margin-right: auto;
        margin-left: 0;
        width: 68%;
        padding-right: 40px;
    }
}