* {
    margin: 0;
    padding: 0;
     font-family: 'Montserrat', sans-serif;

}

.container {
    
    text-align: center;
}

h1 {
    margin-top: 80px;
    color: #a67c52; /* Cor marrom do título */
    font-weight: 300;
    font-size: 2.8rem;
    margin-bottom: 60px;
    margin-left: -80px;
}

body{
    background-color: #E8F2EF;
}

.services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; /* Espaço para a imagem não cortar no topo da página */
    margin-bottom: 50px;
    gap: 100px;
}

/* A Bolha Azul */
.bubble {
    background-color: #0b4a8d !important; /* Azul escuro forçado */
    color: white;
    width: 320px; /* Largura fixa para manter o formato */
    height: 450px; /* Altura para permitir o efeito de gota */
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.6;
    font-size: 0.95rem;
    border-radius: 0px 180px 180px 180px; 
    border: 3px solid #402722;
    position: relative; /* Essencial para posicionar a imagem em relação ao balão */
    padding: 40px 25px 25px 25px;
    margin-top: 30px;
    

    
}

.bubble-img {
    position: absolute;
    top: -65px; /* Move a imagem para cima, para fora do balão */
    left: 15px;  /* Ajuste a posição lateral conforme desejar */
    width: 100PX; /* Ajuste o tamanho da imagem */
    height: auto;

}

.bubble p {
    margin: 0;
    font-size: large;
}

/* Responsividade para Celular */
@media (max-width: 768px) {
    .bubble {
        width: 280px;
        height: 400px;
        border-radius: 0px 140px 140px 140px; /* Mantém a proporção no mobile */
        padding: 40px 25px;
    }
    
    h1 {
        font-size: 2rem;
    }
}

a {
    color: #fff;
    ;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right, #170502, #571406, #7D1C09);
    height: 8vh;
}

.logo-menu{
    margin-left: -100px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 600px) {
    .services-grid {
        gap: 120px; /* Aumenta o espaço vertical quando um balão estiver sob o outro */
    }
}
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: linear-gradient( #7D1C09, #561406, #000000 );
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
        z-index: 1001;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

h1, h2, h3, h4 {
    font-weight: 100;
}

p, li, a, span {
    font-weight: 400;
}

small {
    font-weight: 300;
}

footer {
    padding: 50px 60px;
    background: linear-gradient(to right, #170502, #571406, #7d1c09);
    color: #fff;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

#footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

/* BLOCO GERAL */
.footer_block {
    display: flex;
    flex-direction: column;
}

.footer_left img {
    margin-left: 0px; /* ajuste como quiser */
}

/* CENTRO COM 2 COLUNAS */
.footer-center {
    display: flex;
    flex-direction: row;
    gap:1px;
}

.footer-center ul {
    list-style: none;
    margin-top: 80px;
    margin-left: 40px;
    padding: 0;
}

.footer-center li {
    margin-bottom: 10px;
}

.footer-center a {
    text-decoration: none;
    color: #ffffffc9;
    font-size: 16px;
    transition: 0.3s;
}

.footer-center a:hover {
    color: #fff;
}

/* BLOCO DIREITO */
.footer_right h4 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.footer_right p {
    font-size: 14px;
    margin: 5px 0 15px 0;
    display: flex;
    align-items: center;
}

.footer_right i {
    margin-right: 8px;
}

.outline {
    color: transparent;
    -webkit-text-stroke: 1px #fff;

}


/* LINHA DIVISÓRIA CENTRAL */
#footer_content::before {
    content: "";
    width: 2px;
    height: 220px;
    background: rgba(255, 255, 255, 0.35);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}


/* RESPONSIVO */
@media (max-width: 768px) {
    footer {
        padding: 30px 20px;
    }

    #footer_content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        position: relative;
    }

    #footer_content::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 65px;
        background: rgba(255, 255, 255, 0.35);
        left: 50%;
        top: 195px;
        transform: translate(-50%, -50%);
    }

    /* Centro ajustado */
    .footer-center {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        margin-top: -10px;

    }

    .footer-center ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }

    .footer_right p {
        justify-content: center;
    }

    .footer_left img {
        max-width: 150px;
        margin-bottom: -10px;
    }
}